@media screen and (max-width: 576px) {
    .logo__link {
        margin-bottom: 30px;
    }
    .footer__column_modify {
        display: block;
    }
    .footer__list {
        margin-bottom: 30px;
    }
}