@media screen and (max-width: 576px) {
    .hero {
      .row &__item {
        padding-top: 0;
      }
      .title {
        font-size: 44px;
      }
      &__counter {
        margin: 35px auto 60px;
        text-align: center;
        position: relative;
      }
      .slick-next.slick-arrow,
      .slick-prev.slick-arrow {
        top: 25%;
      }
      .slick-next.slick-arrow {
        left: auto;
        right: 0;
      }
      .slick-slide img {
        margin-top: 20px;
        height: 350px;
        width: 100%;
      }
    }
  }
  